<ion-view view-title="Survey Main">
	<ion-pane>


        <ion-slide-box show-pager="false" ng-init="disableSlide()">
            <ion-slide>
                <div class="vert-center">
					<h1 class="esp">{{ data.questions[data.pairs[data.counter].q1] }}</h1>
					<h1 class="eng">{{ data.questions.eng[data.pairs[data.counter].q1] }}</h1>
				</div>
				
                <ion-footer-bar class="celsius-bar">
                    <div class="button-bar">
                        <button class="button button-avocado button-avo-sad" ng-click="answerQ1(1)"></button>
                        <button class="button button-avocado button-avo-midSad" ng-click="answerQ1(2)"></button>
                        <button class="button button-avocado button-avo-midHappy" ng-click="answerQ1(3)"></button>
                        <button class="button button-avocado button-avo-happy" ng-click="answerQ1(4)"></button>
                    </div>
                </ion-footer-bar>
				
            </ion-slide>
            <ion-slide>
             <!--   <p class="smallText"> Ultima pregunta.. </p> -->
				<div class="vert-center">
                	<h1 class="esp">{{ data.questions[data.pairs[data.counter].q2] }}</h1>
					<h1 class="eng">{{ data.questions.eng[data.pairs[data.counter].q2] }}</h1>
				</div>
                <ion-footer-bar class="celsius-bar">
                    <div class="button-bar">
                        <button class="button button-avocado button-avo-sad" ng-click="answerQ2(1)"></button>
                        <button class="button button-avocado button-avo-midSad" ng-click="answerQ2(2)"></button>
                        <button class="button button-avocado button-avo-midHappy" ng-click="answerQ2(3)"></button>
                        <button class="button button-avocado button-avo-happy" ng-click="answerQ2(4)"></button>
                    </div>
                </ion-footer-bar>
            </ion-slide>
            <ion-slide>
                <br>
                <br>
                <h1>Gracias!</h1>
            </ion-slide>

        </ion-slide-box>

    </ion-pane>
</ion-view>